@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
  /* background: #0f0f0f; */  
  font-family: "Geist", sans-serif;
  scroll-behavior: smooth;
}
body{
  display: flex;
  justify-content: center;
  align-items: center; 
}
.heading{  
  margin: 20px 0;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: #2f2e2e;
}
.heading span{
  color: #1e5a9a;
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: none;
}
.age-form{
  min-width: 400px;
  width: 400px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
form label{
  margin-bottom: 10px;
}
form input{ 
  font-size: 1rem;
  padding: 7px;
  margin: 7px 0;  
  /* margin-bottom: 10px; */
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.171);
  border: 1px solid #9c9c9c;
  outline: none;
  width: 100%;
  color: #515152;
}
form input::placeholder{
  color: #999999;
  font-size: 1rem;  
}
form h4{
  font-weight: 500;
  margin: 5px 0;
}
.date-input{
  display: flex;
  gap: 10px;
  align-items: center;

}
.date-input input::placeholder{
  text-transform: uppercase;
}

.selection >*{
  display: block;
  margin-bottom: 10px;  
}
.selection select{
  font-size: 1rem;
  padding: 7px ;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.171);
  border: 1px solid #9c9c9c;
  outline: none;
  width: 100%;
  color: #515152;
}
form button{  
  width: 50%;
  font-size: 1.1rem;
  padding: 10px 20px;
  margin:20px 0;
  border-radius: 5px;
  background-color: #1e5a9a;
  border: 1px solid #1e5a9a;
  outline: none;
  color: #fff;
  cursor: pointer;
}
form button:hover{
  background-color: #2b6baa;
}
/* form and it result container */
.form-result{
  width: 100%;
  display: flex;  
  gap: 30px;
 
}
.result{
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  /* text-align: center; */
  width: 400px; 
  display: none;
}
.result h4{
  font-weight: 500;
  margin: 5px 0;
  font-size: 1.3rem;
  
}
.result .age{
  font-size: 1.2rem;
  font-weight: 500;
  color: #1e5a9a;
}
.attempts{
  margin-top: 10px;
  font-size: 1.2rem;  
}
.result .content{
  margin-top: 5px;
  font-size: 1.08rem; 
  padding: 10px 0; 
}
.result .content >*{
  margin: 7px 0;
}
.content .warning{
  color: #e83d1f;
}
.content #suggetion{
  color: #066506;
}
.other-opts{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 15px ;  
}
.other-opts a{
  text-decoration: none;
  font-weight: 500;
  /* background-color: #d7d5d5; */
  background:linear-gradient(to right, #f8caa7 , #f4f2f2); 
  border: 1px solid #9c9c9c;
  color: #262626;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  transition: all ease 0.5s;
}
.other-opts a:hover{  
  transform: scale(1.05);
  transition: all ease 0.5s;
}
.show{
  display: block;
}
